[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
langchain-community = "*"
langgraph = "*"
langchain-tavily = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
langchain = "*"
langchain-openai = "*"
langchain-groq = "*"
python-dotenv = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
